<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<li class="list-group-item">
  <div class="field form-group">
    <b><%= form.label :date %>:</b>&nbsp;
    <%= form.date_select :date, class:"form-control",:required => true %>
    <br><br>
  </div>
</li>

<li class="list-group-item">
  <div class="field form-group">
    <b><%= form.label :activity_id %>:</b>&nbsp;
    <%= form.collection_select(:activity_id ,Activity.where(["share=true OR user_id = ?",current_user.id]), :id, :name) %>
  </div>
</li>

<li class="list-group-item">
  <div class="field form-group">
    <b><%= form.label :minutes %></b>
    <%= form.number_field :minutes, class:"form-control", :required => true, placeholder:"For how long?" %>
  </div>
</li>

<li class="list-group-item">
  <div class="field form-group">
    <b><%= form.label :notes %></b>
    <%= form.text_field :notes, class:"form-control", placeholder:"What was outstanding?" %>
  </div>
</li>

<li class="list-group-item">
  <div class="form-check form-group">
    <%= form.check_box :share, class:"form-check-input form-control" %>&nbsp;
    <b>Share?</b>
  </div>
</li>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :record_user_id,
    class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <!-- rec_id, not used -->
  <div class="field">
    <%= form.number_field :rec_id, class:"form-control", type: :hidden %>
  </div>
  <!-- rec_id, not used -->

<li class="list-group-item">
  <div class="actions">
    <%= form.submit class:'btn btn-success'%>
  </div>
</li>
<% end %>
