<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.collection_select(:activity_id ,Activity.where(["share=true OR user_id = ?",current_user.id]), :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="form-check">
    <%= form.check_box :share, class:"form-check-input" %>
    <label>Share?</label>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :record_user_id,
    class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <!-- rec_id, not used -->
  <div class="field">
    <%= form.number_field :rec_id, class:"form-control", type: :hidden %>
  </div>
  <!-- rec_id, not used -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
