<div class="card" style="width: 18rem;">

  <div class="card-header">
    <% if @record.activity.nil? %>
      <i>This activity no longer exists</i>
    <% else %>
      <h2><%= @record.activity.name %></h2>
    <% end %>
  </div>

  <ul class="list-group list-group-flush">

    <li class="list-group-item">On <%= @record.date %></li>
    <li class="list-group-item">For <%= @record.minutes %> minutes</li>
    <li class="list-group-item"><b>Notes: </b><%= @record.notes %></li>
    <li class="list-group-item">

      <% if @record.share %>
        <i style="font-size:12px">Shared!</i>
      <% else %>
        <i style="font-size:12px">Not Shared</i>
      <% end %>

    </li>
  </ul>

</div>

<br>

<%= link_to 'Edit', edit_record_path(@record), class:"btn btn-success" %>
<%= link_to 'Back', records_path, class:"btn btn-danger" %>
