<p id="notice"><%= notice %></p>

<p>
  <strong>Rec:</strong>
  <%= @record.rec_id %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @record.minutes %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @record.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @record.activity_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
